*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    top: 0;
    z-index: 2;
   background-color:#0894cd;
   height: 90px;
   width: auto;
   display: flex;
   margin: auto;
}

#nag{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 5px;
    margin-left: 10px;
}
#outer{
    height: 80px;
    width: 1227px;  
    display: flex;
    margin-left: 40px;
}

#outer-1{
    height: 80px;
    width: 80px;
    background-color: black;
}

span{
    font-size: 50px;
    color: #108bce;
}

#abc1{
    height: 1000px;
    width: 1349px;
    background-image: url(/Background_Dairy\ _Proj.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.BD,.BD1{
    height: 300px;
    width: 1349px;
}

#div2{
    background-color: burlywood;
}

.BD2{
    height: 70px;
    width: 90px;
}

#div3{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 370px;
    width: 1349px;
    background-color: #8ac0ec;
}



#div3a{
    /* position: absolute; */
    background-color: #5fa6cd;
    border-radius: 10px;
    padding: 20px;
    /* margin: 65px 10px; */
    top: 24%;
    left: 2%;
    font-size: large;
    height: 200px;
    width: 770px;
}

#div4{
    /* position: absolute; */
    padding: 27px 20px;
    /* margin: 65px 10px; */
    top: 24%;
    right: 2%;
    background-color: #5fa6cd;
    border-radius: 10px;
    height: 200px;
    width: 500px;
}
#div4ul{
    font-size: large;
}
#div3a:hover,#div4:hover{
    background-color: #108bce;
}

.compo{
    height: 20px;
    width: auto;
    margin: auto;
    font-size: larger;
    text-align: center;
    color: white;
    /* color:; */

}
.compo>a{
    text-decoration: none;
    color: white;
    
}
.compo:hover{
    /* background-color: #e7f0f1; */
    color: #c6dee7;
    border-radius: 6px;
    border-bottom: rgb(197, 220, 224) 2px solid;
    border-left: rgb(197, 220, 224) 2px solid;
    border-right: rgb(197, 220, 224) 2px solid;
}

.name::first-letter{
    font-size: 50px;
}

.name{
    text-align: center;
    /* padding-top: 20px; */
    color:#0894cd;
}


#home-foot
{
    background-color: black;
    height: 270px;
    width: 1349px;
    display: flex;
    margin: auto;
    color: rgb(133, 128, 128);
}
#abt-foot{
    background-color: black;
    height: 270px;
    width: 1349px;
    display: flex;
    margin: auto;
    color: rgb(133, 128, 128);
}
#pdt-foot{
    background-color: black;
    height: 253px;
    width: 1349px;
    display: flex;
    margin: auto;
    color: rgb(133, 128, 128);
}
#gallery-foot{
    background-color: black;
    height: 253px;
    width: 1349px;
    display: flex;
    margin: auto;
    color: rgb(133, 128, 128);
}
footer{
    background-color: black;
    height: 254px;
    width: 1349px;
    display: flex;
    margin: auto;
    color: rgb(133, 128, 128);
}

textarea{
    font-size: 20px;
    margin-left: 700px;
    margin-top: 20px;
    height: 200px;
    width: 300px;
}
#txt-sub{
    margin-left: 800px;
}

iframe{
    font-size: 20px;
    margin-left: 700px;
    height: 250px;
    width: 300px;
}

#foo{
    margin-left: 50px;
   padding-top: 20px;
}
.fotgal{
    color: rgb(133, 128, 128);
    text-decoration: none;
    font-size: large;
}
.fotgal:hover{
    color: white;
}
/* Home   page   done */


/* About Starts */


/* About done */

/* Product starts */


/* Product ends */




/* Logout button Starting */




